extends layout

block content
  h1= title
  p Cube Details

  link(rel='stylesheet', href='/javascripts/jquery-window-5.0.4/window/css/jquery.window.css')
  
  script(src="/javascripts/jquery-ui-1.12.1.custom/jquery-ui.js")
  script(src="/javascripts/jquery-window-5.0.4/window/jquery.window.js")
  script(src="/javascripts/functions.js")
 
  script(type='text/javascript').

    $( document ).ready(function() {
    
 
    });
