extends layout

block content
  h1= title
  p Shows cube usage in realtime

  link(rel='stylesheet', href='/javascripts/jquery-window-5.0.4/window/css/jquery.window.css')
  
  script(src="/javascripts/jquery-ui-1.12.1.custom/jquery-ui.js")
  script(src="/javascripts/jquery-window-5.0.4/window/jquery.window.js")

  script(type='text/javascript').

    const MAX_IMAGES = 16;

    $( document ).ready(function() {
    
      var socket = io();
      var images = "<br/><br/><br/>";
      var imageClass;
      
      for (var i=0; i<MAX_IMAGES; i++)
      {

        if (i >= MAX_IMAGES/2)
        {
          if (i%2 == 0)
          { 
            imageClass = "flipped3";
          }
          else
          {
            imageClass = "flipped2";
          }
        }
        else
        {
          if (i%2 == 0)
          {
            imageClass = "img";
          }
          else
          {
            imageClass = "flipped";
          }
        }

        if (i == MAX_IMAGES/2)
        {
          images += "<br/><br/></br>"
        }

        images += "<img src='/images/cubicle.png' id='cube" 
          + i 
          + "' width='60' height='60' class='" + imageClass + "'/>"
      }

      var div  = "<div id='events'    style='padding:10px; font-size:14px;'></div>";
      var div2 = "<br/><br/><div id='graphical' style='padding:10px; font-size:14px;'>" + images + "</div>";

      $.window({
        title: "Cube events",
        content: div,
        width: 450,
        height: 450,
        x: 800,
        y: 200,
        draggable: true,
        resizable: true,
        maximizable: false,
        minimizable: true,
        closable: false,
        showModal: false
      });

      $.window({
        title: "Graphical",
        content: div2,
        width: 530,
        height: 450,
        x: 200,
        y: 200,
        draggable: true,
        resizable: true,
        maximizable: false,
        minimizable: true,
        closable: false,
        showModal: false
      });
      
      socket.on('cube', function(msg){
        console.log("Received :" + msg);

        // simulates cube info... remove later
        var cubeNumber = Math.floor((Math.random() * 14) + 1); 

        var occupiedImageIndex = Math.floor((Math.random() * 3) + 1);
        var event = JSON.parse(msg);

        var icon   = event.occupied ? "occupied.png" : "away.png";
        var status = event.occupied ? "occupied" : "free";
        var image  = event.occupied ? "/images/ibmCubeOcuppied_0" + occupiedImageIndex + ".png" : "/images/cubicle.png";  
        
        $('#events').append("&nbsp <img src='/images/" + icon + "' height='20' width='20'> Cube " + cubeNumber + " is now " + status + "<br/>");
        $("#cube"+cubeNumber).attr("src",image);

      });
    
    });
