extends layout

block content
  h1= title
  p #{title} Application

  script(src="https://code.jquery.com/jquery-1.9.1.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js")

  script(type='text/javascript').
    var socket = io();

    io.on('connection', function(socket){
      socket.on('cube', function(msg){
        alert('message: ' + msg);
      });
    });

