extends layout

block content
  h1= title
  p #{title} Application

  script(type='text/javascript').

    function init() {
      var socket = io();

      socket.on('cube', function(msg){
        console.log("Received :" + msg);

        var event = JSON.parse(msg);

        var status = event.occupied ? "ocupada" : "desocupada";
        
        //alert(msg.occupied);

        $('#events').append('<li> Baia esta ' + status + '</li>');

      });
    
    }

  a(href="javascript:init()")
   button(type="button") Start listening

  br
  br

  div(id='events')

