extends layout

block content
  h1= title
  p Shows cube usage in realtime

  link(rel='stylesheet', href='/javascripts/jquery-window-5.0.4/window/css/jquery.window.css')
  
  script(src="/javascripts/jquery-ui-1.12.1.custom/jquery-ui.js")
  script(src="/javascripts/jquery-window-5.0.4/window/jquery.window.js")
  script(src="/javascripts/functions.js")
 
  script(type='text/javascript').

    $( document ).ready(function() {
    
      var config = getAppConfig()
      
      var socket = io();
      var images = drawImages(config);
      
      var div  = "<div id='events' style='padding:10px; font-size:14px;'></div>";
      var div2 = "<div id='graphical' style='padding:10px; font-size:14px;'>" + images + "</div>";

      $.window({
        title: "Cube events",
        content: div,
        width: 450,
        height: 450,
        x: 800,
        y: 200,
        draggable: true,
        resizable: true,
        maximizable: false,
        minimizable: true,
        closable: false,
        showModal: false
      });

      $.window({
        title: "Graphical",
        content: div2,
        width: (63 * config.max_x) + 20,
        height: 150 * config.max_y,
        x: 200,
        y: 200,
        draggable: true,
        resizable: true,
        maximizable: false,
        minimizable: true,
        closable: false,
        showModal: false
      });
      
      socket.on('cube', function(msg)
      {
        // {"cube":"AH01","occupied":true,"position":{"x":1,"y":1},"timestamp":1521900932023}
        console.log("Received :" + msg);

        var occupiedImageIndex = Math.floor((Math.random() * 3) + 1);
        var event = JSON.parse(msg);

        var icon   = event.occupied ? "occupied.png" : "away.png";
        var status = event.occupied ? "occupied" : "free";
        var image  = event.occupied ? "/images/ibmCubeOcuppied_0" + occupiedImageIndex + ".png" : "/images/cubicle.png";  
        
        $('#events').append("&nbsp <img src='/images/" + icon + "' height='20' width='20'> Cube " + event.cube + " is now " + status + "<br/>");
        $("#cube"+event.position.x+event.position.y).attr("src",image);
        $("#cube"+event.position.x+event.position.y).unbind('click').bind('click', function() { showCubeDetailsWindow(event.cube) });

      });
    
    });
