doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src="https://code.jquery.com/jquery-1.9.1.min.js")
    script(src="/socket.io/socket.io.js")

    script(type='text/javascript').
     var socket = io();

  body(background='/images/background.jpg')
    block content
